.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.main-content {
  margin-left: 220px; /* exact width of Sidebar */
  width: calc(100% - 220px);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: white;
  color: black;
}

.screen-share-box {
  border: 2px dashed yellow;
  padding: 20px;
  margin-top: 15px;
  background-color: #fffbe6;
}

.scad-left-banner {
  margin-top: 15px;
  padding: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
}
